.projects {

  @media (min-width: 760px) {
    max-width: 960px;
  }

  @media (min-width: 1024px) {
    max-width: 1440px;
  }

  &__footer {
    margin-top: 40px;
    background-color: #f7f9fa;
    z-index: 2;
    position: relative;
  }
}