.education {
  margin: $spacing-3xl $spacing-none;

  @media (min-width: $breakpoint-sm) {
    display: flex;
    gap: $spacing-4xl;
  }

  @media (min-width: $breakpoint-md) {
    margin: $spacing-4xl $spacing-none $spacing-3xl $spacing-none;
  }

  &__info {
    padding: $spacing-2xl;
    background-color: $brand-800;
    color: $white;
    text-align: center;

    @media (min-width: $breakpoint-sm) {
      padding: $spacing-7xl $spacing-2xl;
      width: 40%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    @media (min-width: $breakpoint-lg) {
      width: 30%;
    }
  }

  &__text {
    padding: $spacing-none $spacing-none $spacing-2xl $spacing-none;

    @media (min-width: $breakpoint-sm) {
      padding: $spacing-2xl;
      width: 60%;
    }

    @media (min-width: $breakpoint-lg) {
      width: 70%;
    }

    &.highlight {
      color: $brand-800;
    }
  }

  &__name {
    margin: $spacing-xl $spacing-none;
    font-size: $font-size-lg;
    font-weight: $font-weight-regular;

    @media (min-width: $breakpoint-sm) {
      margin: $spacing-none $spacing-none $spacing-xl $spacing-none;
    }
  }

  &__year {
    margin-bottom: $spacing-md;
    font-size: $font-size-sm;
  }

  &__company {
    font-size: $font-size-lg;
    text-transform: uppercase;
  }

  &__title {
    margin-top: $spacing-lg;
    font-size: $font-size-lg;

    @media (min-width: $breakpoint-sm) {
      margin-top: $spacing-none;
    }
  }
}