.project {
  margin-top: $spacing-4xl;
  opacity: 0;
  transform: translateY(100px);
  transition: opacity $transition-3xl ease-out, transform $transition-3xl ease-out;

  @media (min-width: $breakpoint-md) {
    display: flex;
    gap: $spacing-6xl;
  }

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    box-shadow: 0 4px 6px -1px rgba($black, 0.1);

    @media (min-width: $breakpoint-md) {
      min-width: 40%;
      justify-content: flex-start;
      align-self: center;
    }
  }

  &__screen {
    width: 100%;
    object-fit: contain;
    transform: scale(1);
    transition: transform $transition-lg ease;
  
    &:hover {
      transform: scale(1.1);
    }

    &--link {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
    }
  }

  &__data {
    padding-top: $spacing-2xl;

    @media (min-width: $breakpoint-md) {
      width: 60%;
    }
  }

  &__skills {
    margin-top: $spacing-md;
    font-size: $font-size-sm;
    color: $brand-800;
  }
  
  &__name {
    margin: $spacing-lg $spacing-none;
    font-size: $font-size-lg;
    font-weight: $font-weight-regular;
  }

  &__link {
    color: $brand-800;
    text-decoration: underline;

    &:hover {
      color: $black;
      text-decoration: none;
    }
  }

  &__butons {
    margin-top: $spacing-xl;
    display: flex;
    gap: $spacing-xl;
  }
}

.order {
  @media (min-width: $breakpoint-md) {
    order: 2;
  }
}

.visible {
  opacity: 1;
  transform: translateY(0);
}