.button {
  padding: $spacing-3xl $spacing-none;
  width: 120px;
  height: 32px;
  font-size: $font-size-md;
  border-radius: $radius-sm;
  border: none;
  transition: background-color $transition-md ease-linear;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.primary {
  background-color: $brand-800;
  color: $white;
  transition: background-color $transition-md linear;

  &:hover {
    background-color: $brand-400;
  }

  @include focus-visible-outline($brand-800, 0.5);
}

.secondary {
  background-color: $brand-300;
  color: $brand-800;
  transition: background-color $transition-md linear;

  &:hover {
    background-color: $neutral-200;
  }

  @include focus-visible-outline($brand-300, 0.5);
}