.educations {

  @media (min-width: 640px) {
    max-width: 960px;
  }

  @media (min-width: 1024px) {
    max-width: 1440px;
  }

  &__link {
    text-decoration: underline;
    cursor: pointer;

    &:hover {
      text-decoration: none;
    }
  }
}