.educations {
    max-width: $width-2xl;

  @media (min-width: $breakpoint-lg) {
    max-width: $width-4xl;
  }

  &__link {
    text-decoration: underline;
    cursor: pointer;

    &:hover {
      text-decoration: none;
    }
  }
}