// Color system
$black: #000000;
$white: #ffffff;

// Brand scale
$brand-200: #BBD6FD;
$brand-300: #cbd8eb;
$brand-400: #406fa8;
$brand-500: #357ed7;
$brand-600: #1762bc;
$brand-700: #155aad;
$brand-800: #13529e;

// Neutral scale
$neutral-50:  #f7f9fa;
$neutral-100: #f8f9fa;
$neutral-200: #e6edf7;
$neutral-600: #4d4d4d;
$neutral-800: #333333;
$neutral-950: #050e19;