// Transition duration scale

// micro-interactions
$transition-xxs: 100ms;
$transition-xs: 150ms;
$transition-sm: 200ms;

// standard interactions
$transition-md: 300ms;
$transition-lg: 500ms;

// hero animations
$transition-xl: 800ms;
$transition-2xl: 1200ms;
$transition-3xl: 1700ms;