.ToTop {
  background-color: $neutral-950;
  color: $white;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 50;
  cursor: pointer;
  transition: background-color $transition-sm ease-linear;
  display: none;

  &.display {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &:hover {
    background-color: $brand-500;
  }

  &__button {
      width: 40px;
      height: 40px;

    @media (min-width: $breakpoint-sm) {
      width: 60px;
      height: 60px;
    }
  }
}