.skills {
  max-width: $width-md;

  @media (min-width: $breakpoint-md) {
    max-width: $width-lg;
  }

  @media (min-width: $breakpoint-lg) {
    max-width: $width-4xl;
  }

  &__container {
    margin-top: $spacing-3xl;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: $spacing-4xl;
  }

  &__languages, &__tools {
    margin: $spacing-none auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: $spacing-2xl;

    @media (min-width: $breakpoint-lg) {
      gap: $spacing-5xl; 
    }
  }
}