.navigationItem {
  background-color: $brand-800;

  @media (min-width: $breakpoint-md) {
    background-color: $white;
    border: none;
    max-width: $width-xxs;
  }

  &__link {
    position: relative;
    display: block;
    padding: $spacing-2xl $spacing-5xl;
    color: $white;
    font-size: $font-size-xl;
    font-weight: $font-weight-medium;
    text-decoration: none;
    cursor: pointer;

    &:hover {
      background-color: $brand-600;
    }

    @include focus-visible-outline($brand-800, 0.5);

    &--other {
      transition: color $transition-sm linear;

      @media (min-width: $breakpoint-md) {
        padding: $spacing-sm $spacing-2xl;
        color: $neutral-800;
        border-radius: $radius-sm;

        &:hover {
          @media (min-width: $breakpoint-md) {
            background-color: $white;
            color: $brand-800;
          }

          &::after {
            content: "";
            height: 1px;
            width: calc(100% - 40px);
            background-color: $brand-800;
            margin: 1px auto $spacing-none auto;
            display: block;
            position: absolute;
            animation-name: underlineLink;
            animation-duration: .3s;
            animation-timing-function: ease;
          }
        }

        @include focus-visible-outline($neutral-800, 0.5);
      }
    }

    &--last {
      transition: none;

      @media (min-width: $breakpoint-md) {
        padding: $spacing-sm $spacing-2xl;
        color: $white;
        background-color: $brand-600;
        border: 1px solid $brand-600;
        border-radius: $radius-sm;

        &:hover {
          @media (min-width: $breakpoint-md) {
            background-color: $white;
            color: $brand-600;
          }
        }

        @include focus-visible-outline($brand-600, 0.5);
      }
    }
  }
}

@keyframes underlineLink {
  0%   { width: 0; }
  100% { width: calc(100% - 40px); }
}