.navigationItem {
  background-color: #13529e;

  @media (min-width: 640px) {
    background-color: #ffffff;
    border: none;
    max-width: 320px;
  }

  &__link {
    position: relative;
    display: block;
    padding: 20px 40px;
    color: #ffffff;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    transition: color 0.2s linear;
    cursor: pointer;

    @media (min-width: 640px) {
      padding: 20px;
      color: #333333;
    }

    &:hover {
      background-color: #1762bc;

      @media (min-width: 640px) {
        background-color: #ffffff;
        color: #13529e;

        &::after {
          content: "";
          height: 2px;
          width: calc(100% - 40px);
          background-color: #13529e;
          margin: 1px auto 0 auto;
          display: block;
          position: absolute;
          animation-name: underlineLink;
          animation-duration: .3s;
          animation-timing-function: ease;
        }
      }
    }
  }
}

@keyframes underlineLink {
  0%   { width: 0; }
  100% { width: calc(100% - 40px); }
}