.navigationItem {
  background-color: #13529e;

  @media (min-width: 740px) {
    background-color: #ffffff;
    border: none;
    max-width: 320px;
  }

  &__link {
    position: relative;
    display: block;
    padding: 20px 40px;
    color: #ffffff;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    transition: color 0.2s linear;
    cursor: pointer;

    &:hover {
      background-color: #1762bc;

      @media (min-width: 740px) {

        &::after {
          content: "";
          height: 2px;
          width: calc(100% - 40px);
          background-color: #13529e;
          margin: 1px auto 0 auto;
          display: block;
          position: absolute;
          animation-name: underlineLink;
          animation-duration: .3s;
          animation-timing-function: ease;
        }
      }
    }

    &--other {
      @media (min-width: 740px) {
        padding: 20px;
        color: #333333;

        &:hover {
          @media (min-width: 740px) {
            background-color: #ffffff;
            color: #13529e;
          }
        }
      }
    }

    &--last {
      @media (min-width: 740px) {
        padding: 6px 20px;
        color: #ffffff;
        background-color: #1762bc;
        border-radius: 4px;

        &:hover {
          @media (min-width: 740px) {
            background-color: #13529e;
            color: #ffffff;
          }
        }
      }
    }
  }
}

@keyframes underlineLink {
  0%   { width: 0; }
  100% { width: calc(100% - 40px); }
}