.about {
    max-width: $width-2xl;

  @media (min-width: $breakpoint-lg) {
    max-width: $width-4xl;
  }

  &__subtitle {
    margin: $spacing-4xl $spacing-none $spacing-xl $spacing-none;
    font-size: $font-size-lg;
    color: $brand-800;
    font-weight: $font-weight-regular;
  }

  &__text {
    margin-bottom: $spacing-xl;
  }

  &__link {
    text-decoration: underline;
    color: $brand-800;

    &:hover {
      text-decoration: none;
      color: $black;
    }
  }

  &__list {
    margin-left: $spacing-4xl;

    &--term {
      color: $brand-800;
    }
  }
}