.navigation {
  margin: $spacing-none auto;
  color: $white;
  text-align: center;
  max-width: $width-2xl;

  @media (min-width: $breakpoint-lg) {
    max-width: $width-4xl;
  }

  &__container {
  margin: $spacing-none auto;
  width: 100%;
  background-color: $brand-800;

    @media (min-width: $breakpoint-md) {
      background-color: $white;
      position: absolute;
    }
  }
}

.menu {
  display: flex;
  flex-direction: row;
}