@use '../../style/breakpoint';

.navigation {
  margin: 0 auto;
  color: #ffffff;
  text-align: center;

  @media (min-width: breakpoint.$width-computer-header) {
    max-width: 960px;
  }

  @media (min-width: 1024px) {
    max-width: 1440px;
  }

  &__container {
  margin: 0 auto;
  width: 100%;
  background-color: #13529e;

    @media (min-width: breakpoint.$width-computer-header) {
      background-color: #ffffff;
      position: absolute;
    }
  }
}

.menu {
  display: flex;
  flex-direction: row;
}