.blogPost {
  display: flex;
  flex-direction: column;
  gap: $spacing-sm;

  &:not(:first-child) {
    padding-top: $spacing-3xl;
    border-top: 1px solid $neutral-200;
  }

  @media (min-width: $breakpoint-sm) {
    display: grid;
    grid-template-columns: 140px 1fr;
    column-gap: $spacing-xl;
    gap: 0;
  }

  &__date {
    color: $neutral-600;
    font-size: $font-size-sm;

    @media (min-width: $breakpoint-sm) {
      margin-top: $spacing-sm;
    }
  }

  &__body {
    min-width: 0;
  }

  &__title {
    font-size: $font-size-xl;
    font-weight: $font-weight-semibold;
    color: $brand-800;
  }

  &__text {
    margin-top: $spacing-lg;
    display: flex;
    flex-direction: column;
    gap: $spacing-md;
    color: $neutral-800;
  }

  &__tags {
    margin-top: $spacing-lg;
    display: flex;
    flex-wrap: wrap;
    gap: $spacing-md;
  }

  &__tag {
    color: $brand-800;
    font-weight: $font-weight-bold;
    font-size: $font-size-sm;
  }

  &__link {
    display: inline-block;
    margin-top: $spacing-lg;
    color: $brand-800;
    text-decoration: underline;
    font-size: $font-size-sm;

    &:hover {
      text-decoration: none;
    }
  }
}
