.contact {

  &__text {
    font-size: $font-size-md;
    color: $white;
    text-align: center;
  }

  &__container {
    margin-top: $spacing-4xl;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: $spacing-2xl;

    @media (min-width: $breakpoint-xs) {
      margin: $spacing-4xl auto $spacing-none auto;
      flex-direction: row;
      gap: $spacing-none;
      justify-content: space-between;
      max-width: $width-md;
    }
  }

  &__button {
    padding: $spacing-md $spacing-xl;
    background-color: $white;
    color: $brand-800;
    font-size: $font-size-md;
    font-weight: $font-weight-semibold;
    text-decoration: none;
    border: 1px solid $brand-800;
    border-radius: $radius-sm;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: $spacing-md;

    &:hover {
      color: $white;
      background-color: $brand-800;
      border: 1px solid $white;

      .contact__icon {
        color: $white;
      }
    }

    @include focus-visible-outline($white, 0.5);
  }

  &__icon {
    width: 20px;
    height: 20px;
    color: $brand-800;
  }
}