.header {
  margin: $spacing-none auto;
  max-width: $breakpoint-md;
  text-align: left;
  position: relative;

  @media (min-width: $breakpoint-md) {
    max-width: $width-2xl;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  @media (min-width: $breakpoint-lg) {
    max-width: $width-4xl;
  }

  @media (min-width: $breakpoint-5xl) {
    min-height: auto;
  }

  &__cover {
    margin: $spacing-none auto;
    width: 100%;
    background-color: $white;
  }

  &__info {
    margin: $spacing-none;;
    padding: $spacing-5xl;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    @media (min-width: $breakpoint-md) {
      margin: $spacing-6xl $spacing-none;
      padding: $spacing-2xl $spacing-7xl $spacing-5xl $spacing-7xl;
      text-align: left;
    }
  }

  &__title, &__subtitle {
    margin: $spacing-md $spacing-none;
    color: $brand-800;
  }

  &__title {
    font-size: $font-size-display-md;
    font-weight: $font-weight-medium;

    @media (min-width: $breakpoint-sm) {
      font-size: $font-size-display-lg;
    }

    @media (min-width: $breakpoint-md) {
      font-size: $font-size-display-xl;
    }
  }

  &__subtitle {
    font-size: $font-size-display-xs;
    font-weight: $font-weight-regular;
    text-transform: uppercase;
    color: $brand-700;

    @media (min-width: $breakpoint-sm) {
      font-size: $font-size-display-sm;
    }

    @media (min-width: $breakpoint-md) {
      font-size: $font-size-display-md;
    }
  }

  &__description {
    margin: $spacing-3xl $spacing-none;
    font-size: $font-size-md;

    @media (min-width: $breakpoint-sm) {
      font-size: $font-size-lg;
    }

    @media (min-width: $breakpoint-md) {
      font-size: $font-size-xl;
    }
  }

  &__list {
    margin-top: $spacing-md;
    display: flex;
    gap: $spacing-4xl;
    justify-content: center;
    list-style: none;

    @media (min-width: $breakpoint-md) {
      margin-top: $spacing-6xl;
      justify-content: start;
    }
  }

  &__icon {
    width: 30px;
    height: 30px;
    color: $black;
    scale: (1);
    transition: scale $transition-sm linear;
    z-index: 1;

    @media (min-width: $breakpoint-sm) {
      width: 36px;
      height: 36px;
    }

    @media (min-width: $breakpoint-md) {
      width: 40px;
      height: 40px;
    }
  
    &:hover {
      color: $brand-800;
      scale: (1.2);
    }

    &--down {
      display: none;

      @media (min-width: $breakpoint-md) {
        margin: $spacing-none auto;
        padding: $spacing-2xl;
        width: 80px;
        height: 80px;
        color: $brand-800;
        opacity: 0;
        position: absolute;
        bottom: $spacing-md;
        left: calc(50% - 36px);
        display: block;
        z-index: 1;
        transform: translateX(-50%);
        animation: fadeDown 2.3s ease infinite;
        animation-play-state: running;
      }

      @media (min-width: $breakpoint-lg) {
        bottom: $spacing-2xl;
      }

      &:hover {
        cursor: pointer;
        animation-play-state: paused;
      }
    }
  }
}

@keyframes fadeDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.black {
  color: $neutral-800;
}