.skill {
  margin: $spacing-none;
  padding: $spacing-md;
  width: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__name {
    margin-top: -$spacing-md;
    font-size: $font-size-sm;
    text-align: center;
    line-height: normal;

    @media (min-width: $breakpoint-sm) {
      display: block;
    }
  }

  &__icon {
    width: 50px;
    height: 70px;
    color: $brand-800;

    svg {
    width: 100%;
    height: auto;
    }
  }
}