.footer {
  margin: 0 auto;
  padding: 16px 40px;
  width: 100%;
  background-color: #13529e;
  color: #ffffff;

  &__content {
    margin: 0 auto;

    @media (min-width: 640px) {
      max-width: 540px;
    }

    @media (min-width: 768px) {
      max-width: 960px;
    }

    @media (min-width: 1024px) {
      max-width: 1440px;
    }
  }

  &__text {
    font-size: 14px;
    text-align: center;
  }

  &__link {
    text-decoration: underline;
    color: inherit;

    &:hover {
      text-decoration: none;
      color: #cBd8eB;
    }
  }
}