.footer {
  margin: $spacing-none auto;
  padding: $spacing-5xl;
  width: 100%;
  background-color: $brand-800;
  color: $white;

  @media (min-width: $breakpoint-sm) {
    padding: $spacing-5xl $spacing-7xl;
  }

  @media (min-width: $breakpoint-2xl) {
    padding: $spacing-7xl;
  }

  &__content {
    margin: $spacing-none auto;

    @media (min-width: $breakpoint-sm) {
      max-width: $width-md;
    }

    @media (min-width: $breakpoint-md) {
      max-width: $width-xl;
    }

    @media (min-width: $breakpoint-lg) {
      max-width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__text {
    text-align: center;
  }

  &__link {
    text-decoration: underline;
    color: inherit;

    &:hover {
      text-decoration: none;
      color: $brand-300;
    }
  }

  &__line {
    margin: $spacing-5xl auto;
    border: 1px solid rgba($brand-200, 0.3);
    max-width: $width-3xl;

    @media (min-width: $breakpoint-2xl) {
      display: flex;
      flex-direction: row;
      max-width: $width-4xl;
    }
  }

  &__navigation {
    display: none;

    @media (min-width: $breakpoint-lg) {
      display: flex;
      flex-direction: row;
      gap: $spacing-2xl;
    }

    &--link {
      color: $white;

      &:hover {
        text-decoration: none;
        color: $brand-300;
      }
    }
  }
}