* {
  box-sizing: border-box;
  margin: $spacing-none;
  padding: $spacing-none;
}

:root {
  background-color: $neutral-100;
  color: $neutral-800;
  font-family: 'Poppins', sans-serif;
  font-size: $font-size-md;
  line-height: 1.9;
}

.bg-white {
  background-color: $white;
}

.title {
  margin-bottom: $spacing-4xl;
  font-size: $font-size-display-sm;
  font-weight: $font-weight-bold;
  text-align: center;
}

.description {
  color: $neutral-600;
  text-align: center;
}

section {
  margin: $spacing-none auto;
  padding: $spacing-7xl $spacing-5xl;

  @media (min-width: $breakpoint-sm) {
    padding: $spacing-7xl $spacing-8xl;
  }
}

.link-anchor {
  color: $brand-800;
  text-decoration: underline;
  cursor: pointer;

  &:hover {
    color: $black;
    text-decoration: none;
  }
}

.button-reset-style {
  font: inherit;
  background: none;
  border: none;
  outline: none;
}