* {
  box-sizing: border-box;
  margin: $spacing-none;
  padding: $spacing-none;
}

:root {
  background-color: $white;
  color: $neutral-800;
  font-family: 'Poppins', sans-serif;
  font-size: $font-size-md;
  line-height: 1.9;
}

.bgWhite {
  background-color: $white;
}

.bgNeutral {
  background-color: $neutral-100;
}

.title {
  font-size: $font-size-display-sm;
  font-weight: $font-weight-bold;
  text-align: center;
}

.description {
  color: $neutral-600;
  text-align: center;
}

section {
  margin: $spacing-none auto;
  padding: $spacing-7xl $spacing-2xl;

  @media (min-width: $breakpoint-sm) {
    padding: $spacing-7xl $spacing-5xl;
  }

  @media (min-width: $breakpoint-lg) {
    padding: $spacing-7xl $spacing-8xl;
  }
}

.linkAnchor {
  color: $brand-800;
  text-decoration: underline;
  cursor: pointer;

  &:hover {
    color: $brand-800;
    text-decoration: none;
  }
}

.buttonResetStyle {
  font: inherit;
  background: none;
  border: none;
  outline: none;
}